<h2> Add a new bookmark: </h2>
<form action="/bookmarks" method="post">
<p>Title:</p>
  <input type="text" name="title">
<p>URL:</p>
  <input type="text" name="url" /> <p></p>
  <input type="submit" value="Submit" />
</form>
